/* 
  I like to organize my styles like this, in component-speicifc .module.css files
 */

 .skepTextStyle {
  font-size: 2em;
  color: #7a84f5;
  font-family: 'Red Hat Display';
 }


.trialTitleStyle {
  font-size: 2em;
  color: #000000;
  font-family: 'Red Hat Display';
  margin-right: 20px;
  margin-left: 10px;
};